@media only screen and (max-width: 320px) {
    aside .info .buttom ul li  img{
        width: 25px
    }
}

@media only screen and (max-width: 425px) {
    main header input::placeholder {
        font-size: 15px
        
    }
    .setting {
        left: 3% !important;
        bottom: 10% !important;
        width: 150px !important;
        height: 10px !important;
    }
    .covertionBtnGroup button img {
        width: 10px;
    }
    main .map #map {
        height: 90vh !important;
        width: 95% !important;
    }
    .settingToggle {
        left: 83% !important;
        bottom: -13% !important;  
    }
    .covertionBtnGroup button {
        padding: 4px 4px;
        font-size: 10px;
        width: 40% !important;
    }
    main .map #map {
        height: 90vh;
    }
}

@media only screen and (max-width: 766px) { 
    .container {
        display:  grid;
        grid-template-areas: 
        ' main'
        ' main'
        ' main'
        ' main'
        'aside';
    }
    main {
        grid-area: main
    }
    aside {
        grid-area: aside;
        height: 200px;
    }
    main .map #map {
        position: relative !important;
        margin-top: -53px;
        margin-left: 10px;
        width: 97%; 
        height: 80vh;
        box-sizing: border-box;
    }
    main #preveiwImg {
        margin-left: 10px;
        position: unset !important;
        width: 94%; 
        height: 50vh;
        /* min-height: 70vh; */
        box-sizing: border-box
    }
    aside header  {
        /* display: none; */
        display: block !important;
        height: 70px;
    }
    aside header div {
        height: 0px;
    }
    .setting {
        position: absolute;
        left: 1%;
        bottom: 20%;
        height: 40px;
    }
    main #preveiwImg .cancle {
        width: 100%;
        
    }
    main #preveiwImg .imgControl a {
        text-decoration: none;
        display: inline-block;
        padding: 4px 14px;
        border-radius: 10px;
        background-color: rgb(37, 41, 37);
        color: white;
    }
    main #preveiwImg .cancle a {
        float: right;
        font-size: 20px;
        text-decoration: none;
        margin: 0 30px;
        color: rgb(255, 5, 5);
        padding: 1px 10px;
        background-color: rgb(9, 13, 20);
        border-radius: 10px;
        margin-top: 10px;
    }
    .covertionBtnGroup {
        /* border: 1px solid rgba(0, 0, 0, 0.685);  */
        width: 270px;
        max-width: 190PX;
        display: flex;
        /* border-radius: 10px; */
    }
    .covertionBtnGroup button {
        width: 50%;
        padding: 3px 7px;
        outline: none;
        font-size: 10px
    }
    .settingToggle {
        position: absolute;
        left: 88%;
        bottom: 11%;  
    }
    main header input {
        position: relative;
        margin-top: 20px;
        z-index: 3;
        width:  95%;
        font-size: 20px;
        
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        display:  grid;   
    }
    aside .info .buttom ul li  img{
        width: 20px
    }
    
    aside .info .buttom ul li div p{
        font-size: 0.6em;
    }
    
    aside .info .buttom ul li div .val{
        font-size: 14px;
        font-weight: 600
    }
    .settingToggle {
        bottom: 35%;  
    }
    .map header input::placeholder {
        font-size: 15px;
    }
    aside section {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgb(255, 255, 255);
        max-height: 300px;
        height: 650px;
    }
    main .map #map {
        position: absolute !important;
        width: 69%; 
        height: 94vh;
    }
    aside   {
        display: block;
        position: initial
        /* height: 94vh; */
    }
    aside header  {
        display: block;
    }
    .setting {
        left:69%;
        bottom: 20%;
        height: 100px;

    }

    .covertionBtnGroup {
        /* border: 1px solid rgba(0, 0, 0, 0.685);  */
        width: 200px;
        max-width: 270PX;
        display: flex;
        /* border-radius: 10px; */
    }
    
    .covertionBtnGroup button {
        width: 50%;
        padding: 7px 7px;
        outline: none;
        font-size: 15px
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {  
    .container {
        display:  grid;   
    }
    aside .info .buttom ul li div p{
        font-size: 0.8em
    }
    
    aside .info .buttom ul li div .val{
        font-size: 0.8em;
        font-weight: 600
    }
    .map header input::placeholder {
        font-size: 25px;
    }
    aside section {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgb(255, 255, 255);
        max-height: 300px;
        height: 650px;
    }
    main .map #map {
        width: 72%; 
        height: 94vh;
    } 
    aside   {
        display: block;
        position: initial
    }
    aside header  {
        display: block;
    }
    .setting {
        left: 74%;
        bottom: 20%;
        height: 100px;

    }
    .covertionBtnGroup {
        /* border: 1px solid rgba(0, 0, 0, 0.685);  */
        width: 230px;
        max-width: 270PX;
        display: flex;
        /* border-radius: 10px; */
    }
    
    .covertionBtnGroup button {
        width: 50%;
        padding: 7px 7px;
        outline: none;
        font-size: 15px
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        display:  grid;   
    }
    aside .info .buttom ul li  img{
        width: 35px
    }
    
    aside .info .buttom ul li div p{
        font-size: 0.9em
    }
    
    aside .info .buttom ul li div .val{
        font-size: 1.3em;
        font-weight: 600
    }
    aside section {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgb(255, 255, 255);
        max-height: 300px;
        height: 650px;
    }
    aside header  {
        display: block;
    }
    aside   {
        display: block;
        position: initial
    }
    main .map #map {
        width: 74%; 
        height: 94vh;
    } 
    .setting {
        left: 74%;
        bottom: 20%;
        height: 100px;

    }
    .covertionBtnGroup {
        /* border: 1px solid rgba(0, 0, 0, 0.685);  */
        width: 270px;
        max-width: 270PX;
        display: flex;
        /* border-radius: 10px; */
    }
    
    .covertionBtnGroup button {
        width: 50%;
        padding: 7px 7px;
        outline: none;
        font-size: 15px
    }
}